<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>vue</title>
	<link rel="stylesheet" type="text/css" href="css/weui.min.css">
<style type="text/css">
	body{
		background: #eee;
	}
</style>
</head>

<body>

<div id="app">
	<div v-for="device in devices" class="weui_panel weui_panel_access">
	    <div class="weui_panel_hd">刷新时间：{{device.updateTime}}</div>
	    <div class="weui_panel_bd">
	        <div class="weui_media_box weui_media_text">
	            <h4 class="weui_media_title">设备{{device.deviceId}}</h4>
	            <p class="weui_media_desc">
		            <span v-if="device.infoBar == 1">
					  工作正常，按关闭键停止
					</span>
					<span v-else>
					  待机状态，按开启键启动
					</span>
				</p>
	            <ul class="weui_media_info">
	                <li class="weui_media_info_meta">温度：{{device.temp}}</li>
	                <li class="weui_media_info_meta weui_media_info_meta_extra">湿度：{{device.hr}}</li>
	                <li class="weui_media_info_meta weui_media_info_meta_extra">压差：{{device.dp}}</li>
	            </ul>
	        </div>

	    </div>
	    <div v-if="device.online == 1">
		  <a href="javascript:void(0);" @click="detail(device.deviceId,device.areaId)" class="weui_panel_ft">更多信息</a>
		</div>
		<div v-else>
		  <a href="javascript:void(0);" class="weui_panel_ft">设备未连接</a>
		</div>
	    
	</div>

</div>

<script src="js/vue.min.js"></script>
<script src="js/vue-resource.min.js"></script>
<script type="text/javascript">

	var app = new Vue({

	  created:function(){
	  	
	  	var that = this;
	  	setInterval(function() {
	  		that.$http.get('/USR/GetDeviceList',{params:{areaId:0}}).then(function(res){
	  			if(res.body){
	  				that.devices = res.body.result;
	  				console.info(res.body.result);
	  			}
		  	});
	  	}, 1000);

	  	that.$http.get('/USR/GetDeviceList',{params:{areaId:0}}).then(function(res){
  			if(res.body){
  				that.devices = res.body.result;
  				console.info(res.body.result);
  			}
	  	});
	  	
	  },
	  data: {
	  	devices:[]
	  },
	  methods: {
	  	detail:function(deviceId,areaId){
	  		location.href="deviceDetail.html?deviceId="+deviceId+"&areaId="+areaId;
	  	}
	  }
	}).$mount('#app');
	
</script>
</body>
</html>